<h1>ficrec.me</h1>
<p>Rec me some fics!</p>

<ul>
  <li> <%= link_to 'Fanworks', controller: 'fanworks' %> </li>
  <li> <%= link_to 'Collections', controller: 'collections' %> </li>
  <li> <%= link_to 'Fandoms', controller: 'fandoms' %> </li>
</ul>
