<%= provide :title, "Fandoms" %>

<h1>Fandoms</h1>

<p><%= link_to 'New fandom', new_fandom_path %></p>

<% if @fandoms.any? %>
<ul>
<%= render @fandoms %>
</ul>

<% else %>
  <p> No fandoms yet.</p>
<% end %>

<p><%= link_to 'Back', root_path %></p>
